# SQL
Structured Query Language (pronounced "sequel") is the language used to communicate with relational database management systems (RDBMS). The world's most popular databases still run on SQL. This is how we answer questions with data.

###  Popular "flavors" of SQL Databases
- [MySQL](https://www.mysql.com/)
- [PostgreSQL](https://www.postgresql.org/)
- [Microsoft SQL Server](https://www.microsoft.com/en-us/sql-server/sql-server-downloads)
- [SQLite](https://www.sqlite.org/index.html)
- [Oracle](https://www.oracle.com/database/sqldeveloper/)

### Relational database keys
- Primary Keys (PK): uniquely identifies each row in a table<br>
- Foreign Keys (FK): holds the value of the related parent's PK (i.e. if Kevin Durant's team ID equals "5," "5" can be the foreign key to another table that identifies the team "Nets")

***

## To Write and Print Variables

In [ ]:
msg = 'Hello, Jupyter and SQL'
print(msg) # note that clicking in the bottom right of this code block allows us to change the language i.e. this block is in Python

***

## SQL Syntax & Commands (With Examples)


This is an SQL statement, made up of clauses that read or mutate a database. The following examples are pulled from SQLBolt.

`SELECT` _what column(s)_ `FROM` _what table(s)_<br>
`WHERE` _filter condition_ `AND` _another condition_ `OR` _another condition_<br>
`JOIN` _connect data from different tables_<br>
The first line includes the SQL Identifiers: `SELECT` & `FROM`

#### Basic Examples (One Table)
`SELECT` * `FROM` movies<br>
`SELECT` title `FROM` movies<br>
`SELECT` title, director `FROM` movies<br>
`SELECT` * `FROM` movies `WHERE` id=6<br>
`SELECT` * `FROM` movies `WHERE` year `BETWEEN` 2000 `AND` 2010<br>
`SELECT` * `FROM` movies `WHERE` year `NOT BETWEEN` 2000 `AND` 2010<br>
`SELECT` * `FROM` movies `WHERE` id <= 5<br>
`SELECT` * `FROM` movies `WHERE` title `LIKE` "Toy Story%"<br>
`SELECT` * `FROM` movies `WHERE` director="John Lasseter"<br>
`SELECT` * `FROM` movies `WHERE` director!="John Lasseter"<br>
`SELECT` * `FROM` movies `WHERE` title `LIKE` "WALL-%"<br>
`SELECT` `DISTINCT` director `FROM` movies `ORDER BY` director `ASC`<br>
`SELECT` * `FROM` movies `ORDER BY` year `DESC` `LIMIT` 4<br>
`SELECT` * `FROM` movies `ORDER BY` title `ASC` `LIMIT` 5 `OFFSET` 5<br>
`SELECT` * `FROM` movies `WHERE` title `IS NULL`<br>
`SELECT` * `FROM` movies `WHERE` title `IS NOT NULL`

#### More Examples (Multiple Tables)
`SELECT` * `FROM` movies `INNER JOIN` boxoffice `ON` id=movie_id<br>
`SELECT` * `FROM` movies `INNER JOIN` boxoffice `ON` id=movie_id `WHERE` international_sales>domestic_sales<br>
`SELECT` * `FROM` movies `INNER JOIN` boxoffice `ON` id=movie_id `ORDER BY` rating `DESC`

#### Multiple Tables, But With Asymmetric Data
`SELECT` `DISTINCT` building_name, role `FROM` buildings `LEFT JOIN` employees `ON` building_name=building<br>
`SELECT` * `FROM` buildings `LEFT JOIN` employees `ON` building_name=building `WHERE` role `IS NULL`

#### Queries & Expressions
`SELECT` title, (domestic_sales+international_sales)/1000000 `AS` gross_sales_millions
`FROM` movies `JOIN` boxoffice `ON` movies.id=boxoffice.movie_id<br>
`SELECT` title, rating*10 `AS` rating_percent `FROM` movies `JOIN` boxoffice `ON` movies.id =boxoffice.movie_id<br>
`SELECT` title, year `FROM` movies `WHERE` year%2=0

#### PICK UP FROM LESSON 10 ...

***
## Basic SQL Commands

#### Searching
`SELECT`: Select data from a database<br>
`FROM`: Specify the database table we're pulling from<br>
`WHERE`: Filter query (use `IN` to specify multiple values)<br>
`HAVING`: Same as `WHERE`, but filtering groups<br>
`AS`: Rename column, table, or expression with an alias<br>
`JOIN`: Combine rows from 2+ tables<br>
`AND`: Combine all query conditions<br>
`OR`: Combine at least one query condition<br>
`LIMIT`: Limit rows returned<br>
`CASE`: Return value on a specific condition<br>
`IN NULL`: Return rows only with NULL value<br>
`LIKE`: Pattern search in a column<br>
`GROUP BY`: Group data into logical sets<br>
`ORDER BY`: `ASC` is default, use `DESC` to reverse

#### Manipulating
`COMMIT`: Write transactions to the database<br>
`ROLLBACK`: Undo a transaction block<br>
`ALTER TABLE`: Add/Remove columns from a table<br>
`UPDATE`: Update table data<br>
`CREATE`: Create `TABLE`, `DATABASE`, `INDEX`, or `VIEW`<br>
`DROP`: Delete `TABLE`, `DATABASE`, or `INDEX`<br>
`DELETE`: Delete rows from table<br>
`INSERT`: Add a single row to the table

#### Basic Math
`COUNT`: Count the number of rows<br>
`SUM`: Return the sum of a column<br>
`AVG`: Return the average of a column<br>
`MIN`: Return the minimum value of a column<br>
`MAX`: Return the maximum value of a column<br>

***

## Helpful SQL links
- __[SQL in 100 Seconds (Fireship)](https://www.youtube.com/watch?v=zsjvFFKOm3c)__
- __[Starting With and Running Jupyter Notebooks (VS Code)](https://code.visualstudio.com/docs/datascience/jupyter-notebooks)__
- __[Jupyter markdown cheatsheet (IBM)](https://www.ibm.com/docs/en/watson-studio-local/1.2.3?topic=notebooks-markdown-jupyter-cheatsheet)__
- __[Mode SQL tutorial](https://mode.com/sql-tutorial/introduction-to-sql/)__
- __[SQLBolt SQL tutorial](https://sqlbolt.com/)__
- __[How to create tables in PostgreSQL](https://databasefaqs.com/create-a-table-in-postgresql/)__
- __[How to insert a row in PostgreSQL pgAdmin](https://stackoverflow.com/questions/22755230/how-to-insert-a-row-in-postgresql-pgadmin)__
- __[How to use VS Code to run SQL on a database](https://www.youtube.com/watch?v=C0y35FpiLRA)__
- Next Step: Connect this .ipynb file to pgAdmin